In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Reading the `sale` table

In [5]:
df = pd.read_csv('sale.csv')
df.head()

  customer_id     sex  year month  n_articles_purchased  total_price (euro)
0      c-1014  female  2020   Jan                     6                 408
1      c-1767  female  2020   Oct                     2                 106
2      c-1327    male  2019   Mar                     6                 252
3      c-1740  female  2020   Mar                     2                 154
4      c-1521  female  2019   Mar                     5                 190

## Reading the `age` table

In [6]:
df_age = pd.read_csv('age.csv')
df_age.head()

  customer_id  age
0      c-1002   40
1      c-1014   45
2      c-1020   33
3      c-1033   40
4      c-1035   16